@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao</h1>
    
    <h3>Sistema de Cadastro de Clientes</h3>

    <p>
        <h4>
            Gerencie seus usuários e contatos com facilidade! 
            Faça login, troque a senha por e-mail e mantenha-se conectado com segurança e praticidade.
        </h4>
    </p>

</div>
