@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="content">
    <h1 class="mb-4" style="font-family: cursive;">@ViewData["Title"]</h1>

    <h5>
        <p>Sua privacidade é importante para nós. É nossa política no sistema de Cadastro de Usuários e Contatos respeitar sua privacidade em relação a qualquer informação pessoal que possamos coletar, mantendo a confidencialidade e protegendo seus dados.</p>
        <p>Garantimos que suas informações serão utilizadas apenas para os fins estabelecidos neste sistema, com seu conhecimento e consentimento. Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer os serviços solicitados por você.</p>
        <p>Esteja ciente de que este sistema pode conter links para outros sites externos que não são operados por nós. Não temos controle sobre o conteúdo desses sites e não podemos ser responsabilizados pelas práticas de privacidade deles. Recomendamos que você consulte as políticas de privacidade desses sites ao utilizá-los.</p>
        <p>Continuar utilizando nosso sistema será considerado como aceitação de nossas práticas de privacidade. Se você tiver alguma dúvida sobre como lidamos com suas informações pessoais, entre em contato conosco.</p>
    </h5>

</div>
