@model UsuarioModel

@{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between custom-navbar w-100%">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav flex-grow-1 justify-content-start">
            <li class="nav-item">
                <button class="btn btn-primary botao-Principal">
                    <a class="nav-link text-white fs-5" asp-area="" asp-controller="Home" asp-action="Index"><b>Página Principal</b></a>
                </button>
            </li>

            @if (Model.Perfil == MvcCadastro.Enums.PerfilEnum.Administrador)
            {
                <li class="nav-item">
                    <button class="btn btn-primary botao-Usuario">
                        <a class="nav-link text-white fs-5" asp-area="" asp-controller="Usuario" asp-action="Index"><b>Usuarios</b></a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary botao-Contato">
                        <a class="nav-link text-white fs-5" asp-area="" asp-controller="Contato" asp-action="Index"><b>Contatos</b></a>
                    </button>
                </li>
            }
        </ul>
        <ul class="navbar-nav flex-grow-1 justify-content-end">
            <li class="nav-item">
                <button class="btn botao-AltSenha">
                    <a class="nav-link text-white" asp-area="" asp-controller="AlterarSenha" asp-action="Index"><b>Alterar Senha</b></a>
                </button>
            </li>

            <li class="nav-item">
                <button class="btn botao-Sair">
                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Sair"><b>Sair</b></a>
                </button>
            </li>
        </ul>
    </div>
}